@charset "UTF-8";
/*=========================================================================
# mixins
=========================================================================*/
/*=========================================================================
# colors
=========================================================================*/
/*=========================================================================
# common - 全体に共通するスタイル
=========================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #3E3E3E;
  font-family: 'Montserrat',"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",serif, sans-serif;
  line-height: 1.5555;
}

img {
  width: 100%;
}

/*-------------------------------------------
# header
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .header {
    background: #F3F3F3;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background: #FFFFFF1A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

.header .drawer-toggle {
  background: url(../img/sp/hamburger.png) center center/50% no-repeat;
}

.drawer-open .header .drawer-toggle {
  background: url(../img/sp/batsu.png) center center/50% no-repeat;
  position: absolute;
  position: fixed;
  top: 0;
  left: 18%;
}

.header .drawer-hamburger {
  position: absolute;
  top: 10%;
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
}

.header .drawer-nav .drawer-open {
  position: absolute;
  top: 0;
  right: 0;
}

.header .drawer-hamburger-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-inner {
    padding: 20px 0 20px 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-title {
    font-weight: bold;
    font-size: 23px;
    color: #3E3E3E;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    background-color: #FFF;
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 46px;
  }
}

.header-nav-item-link {
  display: block;
}

@media screen and (max-width: 767px) {
  .header-nav-item-link {
    color: #3E3E3E;
    font-size: 18px;
    text-align: center;
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-item-link {
    color: #3E3E3E;
    height: 83px;
    line-height: 83px;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .header-nav-item-link:hover {
    opacity: .7;
  }
}

/*-------------------------------------------
# footer
-------------------------------------------*/
.footer {
  background: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 77px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 160px;
  }
}

.footer-title {
  color: #E3E3E3;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .footer-title {
    font-size: 32px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 40px;
  }
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    margin-top: 10px;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
    margin-top: 42px;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    margin-top: 40px;
  }
}

.footer-nav-item + .footer-nav-item {
  margin-top: 24px;
}

.footer-nav-item-link {
  color: #fff;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-nav-item-link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-nav-item-link:hover {
    opacity: .7;
  }
}

.footer-sns-list {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    text-align: center;
  }
}

.footer-sns-item {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 32px;
  }
}

.footer-sns-item-link {
  color: #F3F3F3;
  display: block;
}

@media screen and (max-width: 767px) {
  .footer-sns-item-link {
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) {
  .footer-sns-item-link {
    font-size: 36px;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-sns-item-link:hover {
    opacity: .7;
  }
}

/*=========================================================================
# main
=========================================================================*/
/*-------------------------------------------
# common
-------------------------------------------*/
.main {
  background: #F3F3F3;
}

/*-------------------------------------------
# util
-------------------------------------------*/
.util-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
  }
}

.util-button {
  letter-spacing: .1em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: 1px solid #FFAA3B;
  border-radius: 10px;
  background: #FFAA3B;
  display: inline-block;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.util-button.-active {
  background: #F3F3F3;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .util-button {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 768px) {
  .util-button {
    padding: 16px 50px;
    font-size: 18px;
  }
  .util-button:not(.-submit):hover {
    opacity: .7;
  }
}

.util-link {
  font-size: 20px;
  letter-spacing: .2em;
  font-weight: bold;
  color: #3E3E3E;
  cursor: pointer;
  border: 1px solid #707070;
  background: #fff;
  display: inline-block;
  padding: 20px 80px;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.util-link.-active {
  background: #F3F3F3;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .util-link:not(.-submit):hover {
    color: #fff;
    background: #3E3E3E;
  }
}

/*-------------------------------------------
# top
-------------------------------------------*/
.top {
  position: relative;
}

.top-picture {
  background: url(../img/mv.png) center left 20%/cover;
}

@media screen and (max-width: 767px) {
  .top-picture {
    padding-top: 177%;
  }
}

@media screen and (min-width: 768px) {
  .top-picture {
    padding-top: 50.6%;
  }
}

@media screen and (max-width: 767px) {
  .top-message {
    padding: 0 16px;
    position: absolute;
    top: 30%;
  }
}

@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    top: 55%;
    left: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 40px;
  }
}

.top-message-title {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top-message-title {
    font-size: 24px;
    line-height: 1.6666;
  }
}

@media screen and (min-width: 768px) {
  .top-message-title {
    font-size: 32px;
  }
}

.top-message-text {
  font-weight: bold;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .top-message-text {
    font-size: 14px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .top-message-text {
    font-size: 18px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .top-contact-button {
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .top-contact-button {
    margin-top: 40px;
  }
}

/*-------------------------------------------
# news
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .news {
    position: relative;
    height: 600px;
  }
}

@media screen and (min-width: 768px) {
  .news {
    padding: 120px 40px;
  }
}

.news-inner {
  background: #FFF;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .news-inner {
    position: absolute;
    width: 90%;
    top: -5%;
    left: 0;
    right: 0;
    padding: 40px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .news-inner {
    padding: 60px 60px 40px 60px;
  }
}

@media screen and (max-width: 767px) {
  .news-list {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .news-list {
    margin-top: 60px;
  }
}

.news-list-item {
  border-bottom: 1px solid #CECDCD;
}

@media screen and (min-width: 768px) {
  .news-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 38px 0;
  }
}

.news-list-item:hover {
  background: #4973FF1A;
  text-decoration: none;
}

.border {
  border-top: 1px solid #CECDCD;
}

.news-item-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .news-item-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 14px 16px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-title {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .news-item-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    font-size: 18px;
  }
}

.news-item-label {
  text-align: center;
  border: 2px solid #3B69FF;
  border-radius: 50px;
}

@media screen and (max-width: 767px) {
  .news-item-label {
    font-size: 12px;
    margin-left: 24px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .news-item-label {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    font-size: 14px;
    padding: 8px 32px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .news-item-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    font-size: 18px;
    margin-left: 40px;
  }
}

.news-item-arrow {
  background: url(../img/news-arrow.png) center center/100% no-repeat;
  margin-left: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .news-item-arrow {
    width: 20px;
    margin-top: -20px;
  }
}

@media screen and (min-width: 768px) {
  .news-item-arrow {
    width: 40px;
  }
}

.news-footer {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news-footer {
    padding: 40px 37px 0 37px;
  }
}

@media screen and (min-width: 768px) {
  .news-footer {
    padding: 20px 80px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .news-more-button {
    padding: 16px 100px;
  }
}

/*-------------------------------------------
# service
-------------------------------------------*/
.service {
  background: #3E3E3E;
  position: relative;
}

@media screen and (max-width: 767px) {
  .service {
    height: 580px;
    padding-top: 40px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .service {
    height: 400px;
    padding-top: 60px;
  }
}

.service-inner {
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .service-inner {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 0;
    right: 0;
    padding: 40px 16px;
  }
}

@media screen and (min-width: 768px) {
  .service-inner {
    max-width: 960px;
    position: absolute;
    top: 45%;
    left: 12%;
  }
}

.service-title {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .service-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 28.3333%;
            flex: 0 1 28.3333%;
    margin: 60px 45px;
  }
}

@media screen and (max-width: 767px) {
  .service-item + .service-item {
    margin-top: 49px;
  }
}

.service-item-link {
  display: block;
  color: #3E3E3E;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .service-item-link:hover .service-item-picture > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.service-item-picture {
  width: 64px;
  height: 64px;
  padding: 16px 7px;
  margin: 0 auto;
}

.service-item-picture > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.service-item-body {
  text-align: center;
}

.service-item-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .2em;
  margin-top: 8px;
}

.service-item-text {
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
  line-height: 1.7143;
}

/*-------------------------------------------
# results
-------------------------------------------*/
.results {
  background: #3E3E3E;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .results {
    margin-top: 391px;
    padding: 40px 0 40px 16px;
  }
}

@media screen and (min-width: 768px) {
  .results {
    margin-top: 215px;
    padding: 60px 0 60px 60px;
  }
}

.results-title {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .results-title {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .results-title {
    font-size: 36px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .swiper-container {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    margin-top: 60px;
  }
}

.swiper-slide {
  background: #FFF;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .swiper-slide-body {
    padding: 12px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide-body {
    padding: 16px;
  }
}

.swiper-slide-title {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .swiper-slide-title {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide-text {
    font-size: 12px;
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide-text {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-pagination {
    margin-left: 100px;
  }
}

/* 全体のスタイル */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #FFF;
  opacity: 1;
  margin-top: 40px;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 16px;
}

/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  border: 10px double #FFF;
  background: #3E3E3E;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .results-footer {
    margin-top: 85px;
    text-align: center;
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .results-footer {
    margin-top: 100px;
  }
}

.results-footer .util-link {
  color: #FFF;
  background: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .results-footer .util-link {
    padding: 16px 100px;
    font-size: 18px;
    border: 2px solid #fff;
  }
}

.results-footer .util-link:hover {
  color: #3E3E3E;
  background: #FFFFFF;
}

/*-------------------------------------------
# price
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .price {
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .price {
    max-width: 960px;
    padding: 120px 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .price-title {
    font-size: 30px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .price-table {
    margin-top: 60px;
  }
}

.msr_table01 {
  border-spacing: 0;
}

@media screen and (max-width: 767px) {
  .msr_table01 {
    margin-top: 40px;
  }
}

.table-title {
  background: #3E3E3E;
  color: #fff;
  font-weight: bold;
  border-left: 1px solid #707070;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .table-title {
    font-size: 20px;
    padding: 15px 20px;
  }
}

@media screen and (min-width: 768px) {
  .table-title {
    font-size: 24px;
    padding: 16px 100px;
  }
}

.table-price {
  font-weight: bold;
  background: #fff;
  color: #3E3E3E;
  padding: 16px 0;
  border-right: 1px solid #707070;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .table-price {
    font-size: 20px;
    padding-left: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .table-price {
    width: 650px;
    font-size: 24px;
    padding-left: 40px;
  }
}

.table-note {
  font-size: 12px;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .table-note {
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .table-note {
    margin-top: 12px;
  }
}

/*-------------------------------------------
# comments
-------------------------------------------*/
.comments {
  position: relative;
}

@media screen and (max-width: 767px) {
  .comments {
    background: #3E3E3E;
    height: 400px;
    margin-top: 150px;
  }
}

@media screen and (min-width: 768px) {
  .comments {
    background: -webkit-gradient(linear, left top, right top, from(#3E3E3E), color-stop(70%, #3E3E3E), color-stop(70%, #F3F3F3), to(#F3F3F3));
    background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 70%, #F3F3F3 70%, #F3F3F3 100%);
    height: 576px;
    margin-top: 188px;
  }
}

.comments-inner {
  position: absolute;
  top: -30%;
}

@media screen and (min-width: 768px) {
  .comments-inner {
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.comments-left {
  background: #fff;
}

@media screen and (max-width: 767px) {
  .comments-left {
    padding: 40px 20px;
    margin: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .comments-left {
    padding: 120px 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.comments-title {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .comments-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .comments-title {
    font-size: 36px;
  }
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .comments-item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .comments-item {
    margin-top: 60px;
  }
}

.comments-item-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20.10%;
          flex: 0 0 20.10%;
}

.comments-item-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

@media screen and (max-width: 767px) {
  .comments-item-body {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .comments-item-body {
    margin-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .comments-item-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .comments-right {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .comments-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

/*-------------------------------------------
# faqs
-------------------------------------------*/
.faqs {
  background: url(../img/qa-bg.png) center center/cover;
}

@media screen and (max-width: 767px) {
  .faqs {
    padding: 40px 16px;
  }
}

@media screen and (min-width: 768px) {
  .faqs {
    padding: 60px 40px 120px 0;
  }
}

@media screen and (max-width: 767px) {
  .faqs-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .faqs-title {
    margin-top: 60px;
  }
}

.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding: 16px;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #3E3E3E;
  cursor: pointer;
  margin-top: 32px;
}

.indent {
  text-indent: 50px;
}

.question {
  color: #fff;
  background: #3B69FF;
  padding: 5px 7px;
  border-radius: 50%;
  margin-right: 22px;
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  /*縦線に*/
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #3B69FF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  /*横線*/
  width: 15px;
  height: 2px;
  background: #3B69FF;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  padding: 16px;
  background: #fff;
}

.content-text {
  padding: 16px;
  background: #3B69FF33;
}

/* CSS for CodePen */
@media screen and (max-width: 767px) {
  .accordion-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .accordion-container {
    width: 50%;
    margin-left: auto;
    margin-top: 100px;
  }
}

/* access
-----------------------------------------------------------------*/
.access {
  position: relative;
}

@media screen and (max-width: 767px) {
  .access {
    background: #3E3E3E;
    padding: 40px 16px 60px 16px;
    height: 600px;
  }
}

@media screen and (min-width: 768px) {
  .access {
    height: 504px;
    background: -webkit-gradient(linear, left top, right top, from(#3E3E3E), color-stop(70%, #3E3E3E), color-stop(70%, #F3F3F3), to(#F3F3F3));
    background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 70%, #F3F3F3 70%, #F3F3F3 100%);
  }
}

@media screen and (min-width: 768px) {
  .access-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30%;
  }
}

.access-left {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .access-left {
    margin-left: 100px;
    margin-right: 80px;
  }
}

.access-title {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .access-text {
    margin-top: 40px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .access-text {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .access-footer {
    margin-top: 300px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .access-footer {
    margin-top: 32px;
  }
}

.access-footer .util-link {
  color: #FFF;
  background: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .access-footer .util-link {
    font-size: 18px;
  }
}

.access-footer .util-link:hover {
  color: #3E3E3E;
  background: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .iframe {
    position: absolute;
    top: 32%;
    width: 343px;
    height: 241px;
  }
}

/*-------------------------------------------
# contact
-------------------------------------------*/
.contact {
  background: url(../img/contact-bg.png) center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 286px;
    padding: 60px 160px;
  }
}

.contact-header {
  background: url(../img/contact1.png) center center/cover;
  color: #fff;
  border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 767px) {
  .contact-header {
    padding: 40px 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact-header {
    padding: 60px 242px;
  }
}

@media screen and (max-width: 767px) {
  .contact-text {
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact-text {
    margin-top: 16px;
  }
}

.contact-body {
  border-radius: 0 0 12px 12px;
  background: #FFF;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .contact-body {
    padding: 40px 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact-body {
    padding: 60px 120px;
  }
}

@media screen and (min-width: 768px) {
  .form-pulldown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pulldown-label {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .pulldown-box {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .pulldown-box {
    margin-left: 60px;
  }
}

.pulldown-box:hover {
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.pulldown {
  padding: 12px;
  font-size: 16px;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .pulldown {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .form-name {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .form-name {
    margin-top: 40px;
    height: 30px;
    line-height: 30px;
  }
}

.name-label {
  font-weight: bold;
}

.name-span {
  margin-left: 12px;
  background: #FF4646;
  border-radius: 2px;
  color: #fff;
  padding: 2px 8px;
}

.name-box {
  border: none;
}

.name-box:focus {
  outline: none;
  border-bottom: #4973FF;
  -webkit-box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
}

.name-box:hover {
  outline: none;
  border-bottom: #4973FF;
  -webkit-box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .name-box {
    margin-top: 14px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #CECDCD;
  }
}

@media screen and (min-width: 768px) {
  .name-box {
    margin-left: 104px;
    width: 70%;
    padding: 5px;
    font-size: 16px;
    border-bottom: 2px solid #CECDCD;
  }
}

.form-ruby {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .form-ruby {
    height: 30px;
    line-height: 30px;
  }
}

.ruby-label {
  font-weight: bold;
}

.ruby-span {
  margin-left: 12px;
  background: #FF4646;
  border-radius: 2px;
  color: #fff;
  padding: 2px 8px;
}

.ruby-box {
  border: none;
}

.ruby-box:focus {
  outline: none;
  border-bottom: #4973FF;
  -webkit-box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
}

.ruby-box:hover {
  outline: none;
  border-bottom: #4973FF;
  -webkit-box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .ruby-box {
    width: 100%;
    padding-bottom: 5px;
    font-size: 14px;
    margin-top: 16px;
    border-bottom: 1px solid #CECDCD;
  }
}

@media screen and (min-width: 768px) {
  .ruby-box {
    width: 70%;
    padding: 5px;
    font-size: 16px;
    margin-left: 73px;
    border-bottom: 2px solid #CECDCD;
  }
}

.form-email {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .form-email {
    height: 30px;
    line-height: 30px;
  }
}

.email-label {
  font-weight: bold;
}

.email-box {
  border: none;
}

.email-box:focus {
  outline: none;
  border-bottom: #4973FF;
  -webkit-box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
}

.email-box:hover {
  outline: none;
  border-bottom: #4973FF;
  -webkit-box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 3px -3px rgba(73, 115, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .email-box {
    width: 100%;
    padding-bottom: 5px;
    font-size: 14px;
    margin-top: 16px;
    border-bottom: 1px solid #CECDCD;
  }
}

@media screen and (min-width: 768px) {
  .email-box {
    width: 70%;
    padding: 5px;
    font-size: 16px;
    margin-left: 90px;
    border-bottom: 2px solid #CECDCD;
  }
}

.form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .form-radio {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .form-radio {
    margin-top: 40px;
  }
}

.radio-label {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .radio-label {
    width: 100%;
  }
}

.radio-button:hover {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}

@media screen and (max-width: 767px) {
  .radio-men {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .radio-men {
    margin-left: 156px;
  }
}

@media screen and (max-width: 767px) {
  .radio-woman {
    margin-top: 16px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .radio-woman {
    margin-left: 40px;
  }
}

.form-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}

.message-label {
  font-weight: bold;
}

.message-box:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.message-box:hover {
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .message-box {
    height: 160px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .message-box {
    height: 200px;
    margin-top: 8px;
  }
}

.form-checkbox {
  font-weight: bold;
  margin-top: 40px;
  position: relative;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 38px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* テキストの選択を防ぐ */
}

/* inputは非表示にする */
.checkbox-label input {
  display: none;
}

/* □ */
.checkmark {
  position: absolute;
  top: 0;
  /* 上からの位置 */
  left: 0;
  height: 22px;
  /* 大きさ */
  width: 22px;
  /* 大きさ */
  border: solid 1px #707070;
  /* 線 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkmark:hover {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}

/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  /* チェックの位置 */
  top: 0;
  /* チェックの位置 */
  width: 7px;
  /* チェックの大きさ */
  height: 14px;
  /* チェックの大きさ */
  border: solid #3B69FF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  /* 透明にしておく */
}

/* チェックが入ったときの□ */
.checkbox-label input:checked + .checkmark {
  background: #fff;
  /* チェック時の色 */
}

/* チェックが入ったときの✓ */
.checkbox-label input:checked + .checkmark:after {
  opacity: 1;
  /* 透明を解除 */
}

.submit-button {
  letter-spacing: .1em;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 1px solid #FFAA3B;
  border-radius: 10px;
  background: #FFAA3B;
  display: inline-block;
  padding: 16px 50px;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.submit-button.-active {
  background: #F3F3F3;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .submit-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .submit-button {
    font-size: 18px;
  }
  .submit-button:not(.-submit):hover {
    opacity: .7;
  }
}

/* ==========================
topへ戻る
========================== */
#page_top {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 20px;
}

#page_top a {
  background-image: url(../img/totop.png);
  background-size: cover;
  padding: 15px 25px;
}
/*# sourceMappingURL=style.css.map */